/* RESET */
/* Colors */
/* */
/* Colors */
/* */
.logo-GITHUB {
  background-image: url("../svg/github.svg"); }

.logo-LinkedIn {
  background-image: url("../svg/linkedin.svg"); }

.logo-Twitter {
  background-image: url("../svg/twitter.svg"); }

* {
  color: black;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none; }

html, body {
  font-size: 16px;
  margin: 0;
  padding: 0; }

a {
  color: #144355; }
  a:visited {
    color: #144355; }
  a:hover {
    color: #56b3d7; }

.column_wrapper {
  display: block;
  margin: 0 auto;
  position: relative;
  transition: width linear 0.5s; }
  @media only screen and (min-width: 1220px) {
    .column_wrapper {
      width: 1200px; } }
  @media only screen and (max-width: 1219px) {
    .column_wrapper {
      max-width: 1200px;
      min-width: 590px;
      width: 98%; } }

.header_site, .wrapper_site {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -ms-transition: all .25s linear;
  transition: all .25s linear; }
