/* Colors */
/* */
.footer_float {
  background-color: #b5deee;
  bottom: 0;
  display: block;
  height: 0;
  position: fixed;
  transition: height 1s ease-out;
  width: 100%;
  z-index: 1; }

.show {
  height: 2em;
  transition: height .5s ease-in; }
