/* Colors */
/* */
.header_site {
  align-items: center;
  background-color: #b5deee;
  display: flex;
  height: 10rem;
  justify-content: center;
  text-align: center;
  width: 100%; }
  .header_site-menu a {
    color: #144355; }
    .header_site-menu a:hover {
      color: #b5deee; }
  .header_site-social {
    display: flex;
    position: relative;
    top: -2em; }
    .header_site-social--item {
      display: flex; }
      .header_site-social--item-link {
        background-position: 0 0;
        background-size: contain;
        background-repeat: no-repeat;
        clear: both;
        display: block;
        height: 2em;
        margin: auto 10px;
        width: 2em;
        color: #144355; }
        .header_site-social--item-link:hover {
          color: #b5deee; }
      .header_site-social--item-text {
        display: none; }

.social-GITHUB {
  background-image: url("../svg/github.svg"); }

.social-LinkedIn {
  background-image: url("../svg/linkedin.svg"); }

.social-Twitter {
  background-image: url("../svg/twitter.svg"); }
