/* Colors */
/* */
.header_site {
  align-items: center;
  background-color: #56b3d7;
  display: flex;
  height: 25vh;
  justify-content: center;
  text-align: center;
  width: 100%; }
  .header_site a {
    color: #144355; }
    .header_site a:hover {
      color: #b5deee; }
  .header_site-menu a {
    color: #144355; }
    .header_site-menu a:hover {
      color: #b5deee; }
  .header_site-social {
    clear: both; }
    .header_site-social--item {
      display: inline;
      float: left; }
      .header_site-social--item-link {
        background-position: top left;
        background-size: 100%;
        clear: both;
        display: block;
        float: left;
        height: 3em;
        margin: auto 10px;
        width: 3em; }
      .header_site-social--item-text {
        display: none; }

.social-GITHUB {
  background-image: url("../svg/github.svg"); }

.social-LinkedIn {
  background-image: url("../svg/linkedin.svg"); }

.social-Twitter {
  background-image: url("../svg/twitter.svg"); }
