.home_content {
  display: flex;
  flex-flow: wrap;
  height: 100%;
  justify-content: space-around;
  margin: 0 auto;
  width: 70rem; }
  .home_content-article {
    align-items: stretch;
    border: 1px dashed black;
    display: flex;
    flex-direction: column;
    height: 20rem;
    justify-content: space-between;
    margin-top: 3rem;
    width: 30rem; }
    .home_content-article--header {
      display: flex;
      height: 4rem;
      border-bottom: 1px solid;
      padding: 0.2em 0.2em 0.7em; }
      .home_content-article--header-title {
        align-items: center;
        display: flex;
        height: 100%; }
      .home_content-article--header-category {
        display: inline-flex;
        height: 99%;
        margin-right: 0.2em; }
        .home_content-article--header-category-link {
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100%;
          overflow: hidden;
          text-indent: 100%;
          white-space: nowrap; }
    .home_content-article--body {
      padding: 1.2rem;
      flex-basis: 15em; }
