/* Colors */
/* */
.home_content {
  display: flex;
  flex-flow: wrap;
  height: 100%;
  justify-content: space-around;
  margin: 0 auto;
  width: 70rem; }
  .home_content--article {
    align-items: stretch;
    box-shadow: 0em 0em 0.6em -0.2em #091d25;
    display: flex;
    flex-direction: column;
    height: 20rem;
    justify-content: space-between;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    min-width: 25rem;
    width: 45%; }
    .home_content--article-header {
      display: flex;
      height: 4rem;
      padding: 0.2em 0.2em 0.7em; }
      .home_content--article-header-title {
        align-items: center;
        display: flex;
        height: 100%; }
      .home_content--article-header-category {
        display: inline-flex;
        height: 100%;
        margin-right: 0.2em;
        position: relative; }
        .home_content--article-header-category-link {
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          margin-bottom: 0.2em;
          max-height: 4em;
          max-width: 4em;
          overflow: hidden;
          text-indent: 4.4em;
          white-space: nowrap; }
          .home_content--article-header-category-link:hover {
            overflow: visible;
            text-indent: 4em; }
        .home_content--article-header-category-tooltip {
          background: #d5ecf5;
          border: 1px dotted #091d25;
          box-shadow: 0em 0em 0.6em -0.2em #091d25;
          min-width: 1rem;
          padding: .3rem;
          text-align: center;
          line-height: 3rem;
          white-space: pre; }
    .home_content--article-body {
      border-top: 1px dotted #d5ecf5;
      flex-basis: 15em;
      height: 14rem;
      padding: 1.2rem;
      overflow: hidden; }
      .home_content--article-body::first-letter {
        font-size: 2em; }
    .home_content--article-footer {
      background-color: #d5ecf5;
      height: 2rem;
      padding: 0.5em 1em 0.5em 0;
      text-align: right; }
  .home_content .adsense {
    display: block;
    width: 100%; }
