/* Colors */
/* */
.site_menu {
  height: 100%;
  left: 0;
  padding-top: 10px;
  position: fixed;
  top: 0;
  width: 220px;
  z-index: 1;
  -webkit-transform: translateX(-220px);
  -moz-transform: translateX(-220px);
  -ms-transform: translateX(-220px);
  transform: translateX(-220px);
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -ms-transition: all .25s linear;
  transition: all .25s linear; }

.menu-anchor {
  background: url("../svg/menu.svg") no-repeat center;
  cursor: pointer;
  display: flex;
  min-height: 25px;
  max-height: 25px;
  overflow: hidden;
  text-indent: -9999px;
  vertical-align: middle;
  min-width: 25px;
  max-width: 25px;
  align-self: center; }
  .menu-active .menu-anchor {
    background: url("../svg/x.svg") no-repeat center; }

.menu-active {
  overflow: hidden; }
  .menu-active .site_menu {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  .menu-active .header_site,
  .menu-active .wrapper_site {
    -webkit-transform: translateX(220px);
    -moz-transform: translateX(220px);
    -ms-transform: translateX(220px);
    transform: translateX(220px); }
