{% extends "base.html" %}


{% block header_site %}
  <a href="{{ SITEURL }}" class="header_site--title-link">{{ article.title }}</a>
{% endblock header_site %}

{% block content %}{#
    {% for category in article.category %}
      {{category}}
    {% endfor %} #}
    <section class="article-body">{{ article.content }}</section>
    {% include 'disqus.html' %}
{% endblock content %}

{% block footer_float_title %}
    <a href="#start-site">{{ article.title }}</a>
{% endblock footer_float_title %}

{% block css_bottom %}<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/pygment.css">{% endblock css_bottom %}
