<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.min.css">
  <title>{{ SITENAME }}{% block title %}{% endblock %}</title>

  {% block meta %}
    <meta name="keywords" content="">
    <meta name="description" content="{{ SITEDESCRIPTION }}">
    <meta name="author" content="{{ AUTHOR }}">
    <meta name="robots" content="">
  {% endblock %}

  {% block js_top %}
  {% endblock %}
</head>
<body>
  <header class='header_site' id="start-page">
    <h1 class="header_site--title">
      {% block header_site %}
        <a href="{{ SITEURL }}" class="header_site--title-link">{{ SITENAME }}</a>
      {% endblock header_site %}
    </h1>

    <nav class="header_site-menu">
      <ul class="header_site-menu--list">
          {% for page in pages|sort(attribute='title') %}
            <li>
              <a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a>
            </li>
          {% endfor %}
        </ul>
    </nav>

    <ul class="header_site-social">
      {% for name, link in SOCIAL %}
        <li class="header_site-social--item">
          <a class="header_site-social--item-link social-{{ name }}" href="{{ link }}" target="_blank">
            <i class="header_site-social--item-text">{{ name }}</i>
          </a>
        </li>
      {% endfor %}
    </ul>
  </header>

<div class="wrapper_site">
  <div class="wrapper_site-content" id="start-site">
    {% block content %}
    {% endblock content %}
  </div>

  <div class='footer_float'>
      {% block footer_float %}
        <ul class="footer_float-social">
          {% block footer_float_social %}
              {% for name, link in SOCIAL %}
                <li class="footer_float-social--item">
                  <a class="footer_float-social--item-link social-{{ name }}" href="{{ link }}" target="_blank">
                    <i class="footer_float-social--item-text">{{ name }}</i>
                  </a>
                </li>
              {% endfor %}
          {% endblock footer_float_social %}
        </ul>
        
        <p class="footer_float-title">
          {% block footer_float_title %}
            <a href="#start-site">
                  {{ SITENAME }}
            </a>
          {% endblock footer_float_title %}
        </p>

        <p class="footer_float-menu">
          {% block footer_float_menu %}
          {% endblock footer_float_menu %}
        </p>
      {% endblock footer_float %}
  </div>
</div>

</body>

{% block js_bottom %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/float-footer.js"></script>
{% endblock %}
</html>