{% extends "base.html" %}

{% block content %}
    <section id="conteudo_home">
      {% for article in articles_page.object_list %}
      <article class='article'>
        <div class="article_header">
          <h2 class='article_title'>
            <a href="{{ SITEURL }}/{{ article.url }}#{{ article.slug }}">{{ article.title }}</a>
          </h2>
        </div>

        <div class='article_body'>
          {% if summarise or article.metadata['summary'] or article.metadata['summarize'] %}
            {{ article.summary }}
              <a class="btn" href="{{ SITEURL }}/{{ article.url }}#{{ article.slug }}">Continue lendo...</a>
          {% else %}
            {{ article.content }}
          {% endif %}
        </div>


        <div class="article_footer">
          <p class="category_home">
            <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
          </p>
        </div>
      </article>
      {% endfor %}

    </section>
{% endblock %}