/* Colors */

//
// // Escala de cor:
// // http://www.colorhexa.com/56b3d7
//

$primary-color: #144355;
$secundary-color: #56b3d7;
$third-color: #b5deee;

$light-color:  #d5ecf5;
$dark-color: #091d25;


/* */
$svg: '../svg/';
