@import '_constant';

.article-body {
    padding: 1rem;
    margin-top: 2rem;
    box-shadow: 0.1rem 0rem 1.4rem -.5rem  $dark-color;
    letter-spacing: 1px;
    line-height: 2em;

    h1, h2, h3 {
        color: $primary-color;
        text-align: center;
        display: block;
    }

    h2 {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }

    h3 {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    ul {
        font-size: 1.2rem;
        margin-bottom: .4rem;
    }

    li {
        line-height: 2em;
        list-style-position: inside;
        list-style-type: square;

        ul {
            margin-left: 1rem;

            li {
                list-style-type: none;
                margin-left: 1em;
                font-style: italic;
            }
        }
    }

    a {
        border-bottom: 1px dashed;
        color: $secundary-color;
        padding: .2em .5em;
        line-height: 2rem;

        &:visited {
            color: $primary-color;
        }

        &:hover, &:active{
            background-color: $light-color;
            color: $primary-color;
            border-bottom: 2px dashed $secundary-color;
        }
    }

}

.article-comments {
    display: flex;
}
