/* RESET */
@import '_colors';

* {
  color:black;
  margin:0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html, body {
  font-size: 16px;
}

a {
  color: $primary-color;

  &:visited {
    color: $primary-color;
  }

  &:hover {
    color: $secundary-color;
  }
}


.header_site {
  align-items:center;
  background-color: $primary-color;
  display:flex;
  height: 25vh;
  justify-content:center;
  text-align: center;
  width: 100%;

  a {
    color: $secundary-color;

    &:hover {
      color: $third_color;
    }
  }

  &-menu {
    a {
      color: $secundary-color;
      &:hover {
        color: $third_color;
      }
    }
  }
}


.header_site-social {
  clear: both;

  li {
    display: inline;
    float: left;
  }
  a {
    background-position: top left;
    background-size: 100%;
    clear: both;
    display: block;
    float: left;
    height: 3em;
    margin: auto 10px;
    width: 3em;

    &.social {
      &-GITHUB {
        background-image: url($svg + 'github.svg');
      }
      &-LinkedIn {
        background-image: url($svg + 'linkedin.svg');
      }
      &-Twitter {
        background-image: url($svg + 'twitter.svg');
      }
    }
  }

  &--item-text {
    display: none;
  }
}


/*** Conteudo ***/
.wrapper_site {
  &-content {
    margin-left:auto;
    margin-right:auto;
    height:100%;
    width: 80%;
    margin-bottom: 3rem;
  }
}

/* Footer floating for POST */
.footer-float {
  background-color: #f1e2d3;
  bottom: 0;
  display: block;
  height: 0;
  position: fixed;
  transition: height 1s ease-out;
  width: 100%;
  z-index: 1;
}
.show {
  height:2em;
  transition: height .5s ease-in;
}

/*
*{
    margin:0;
    padding: 0;
    color:black;
    text-decoration: none;
    font-family: "InputMono Thin";
}
html {
    font-size: 16px;
}
/*
* escala de cor:
* http://www.colorhexa.com/56b3d7
* /
a, a:visited {
    color: #56B3D7;
}

a:hover, .menu_site a:hover {
    color: #237594;
}

.header_site {
    background-color: #56B3D7;
    display: block;
    height: 250px;
    position: relative;
    text-align: center;
}

.header_site h1 {
    font-size: 2rem;
    display: inline;
}

.menu_site a{
    color: #184f65;
}

.search-site {
    overflow: hidden;
    position: absolute;
    right: 2%;
    top: 2%;
}
.search-site-input {
    background-color: #56B3D7;
    border: none;
    left: -10px;
    position: absolute;
    width: 0px;
}
.search-site-button {
    background-image: url("../svg/search.svg");
    background-color: #56B3D7;
    background-repeat: no-repeat;
    border: none;
    display: inline-block;
    height: 30px;
    width: 30px;
}

.conteudo_home {
    padding: 10px;
}
.conteudo_home article {
    width: 45%;
    display: inline-block;
    box-shadow: 0px 8px 6px 0px rgba(0,0,0,0.1);
    padding: 10px
}
.conteudo_home article:hover {
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.5);
    cursor: default;
}
.conteudo_home article h2{
    text-align: center;
}
.conteudo_home article h2 a{
    font-size: 0.8rem;
}*/