/* RESET */
@import '_functions';
@import '_constant';
@import '_logos';

* {
  color:black;
  margin:0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html, body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  color: $primary-color;

  &:visited {
    color: $primary-color;
  }

  &:hover {
    color: $secundary-color;
  }
}

.column_wrapper {
  display: block;
  margin: 0 auto;
  position: relative;
  transition: width linear 0.5s;

  @include max-large(){
    width: 1200px;
  }

  @include min-large(){
    max-width: 1200px;
    min-width: 590px;
    width: 98%;
  }

}

.header_site, .wrapper_site {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    transition: all .25s linear;
}

pre {
  color: inherit;
  background: inherit;
  background-color: inherit;
  font-style: inherit;
  text-decoration: inherit;
  font-weight: inherit;

}
