@import '_constant';


.footer_float {
  background-color: $third-color;
  bottom: 0;
  display: flex;
  font-size: 2em;
  font-weight: bold;
  height: 0;
  position: fixed;
  transition: height 1s ease-out;
  width: 100%;
  z-index: 1;

  &--wrapper{
    display: flex;
  }

  &--social {
      display: flex;
      align-self: middle;

      &-item {
        display: flex;

        &-link {
          background-position: 0 0;
          background-repeat: no-repeat;
          background-size: contain;
          clear: both;
          color: $secundary-color;
          display: block;
          height: 2rem;
          margin: auto 10px;
          width: 2rem;

          &:hover {
              color: $third-color;
          }
        }

        &-text {
          display: none;
        }
      }
    }

  &--title {
    align-self: center;
    flex-grow:2;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &--menu {
    align-self: center;
  }
}

.show {
  height: 4rem;
  transition: height .5s ease-in;
}
