@import '_constant';

.header_site {
  align-items:center;
  background-color: $third-color;
  display:flex;
  height: 10rem;
  justify-content:center;
  text-align: center;
  width: 100%;

  &-menu {
    a {
      color: $secundary-color;
      &:hover {
        color: $third-color;
      }
    }
  }

  &-social {
    display: flex;
    position: relative;
    top: -2em;

    &--item {
      display: flex;

      &-link {
        background-position: 0 0;
        background-size: contain;
        background-repeat: no-repeat;
        clear: both;
        display: block;
        height: 2em;
        margin: auto 10px;
        width: 2em;

        color: $secundary-color;

        &:hover {
            color: $third-color;
        }
      }

      &-text {
        display: none;
      }
    }
  }

}

.social {
  &-GITHUB {
    background-image: url($svg + 'github.svg');
  }
  &-LinkedIn {
    background-image: url($svg + 'linkedin.svg');
  }
  &-Twitter {
    background-image: url($svg + 'twitter.svg');
  }
}
