@import '_constant';

.header_site {
  align-items:center;
  background-color: $light-color;
  display:flex;
  height: 10rem;
  justify-content:center;
  text-align: center;
  width: 100%;

    &--title {
        padding: 1rem 0.5rem 0.5rem;

        &-link {
            font-size: 1.5em;
        }
    }

    &-social {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: -0.6rem;

        &--item {
          display: flex;
          margin-bottom: .5rem;

          &-link {
            background-position: 0 0;
            background-size: contain;
            background-repeat: no-repeat;
            clear: both;
            display: block;
            height: 2em;
            margin: auto 10px;
            width: 2em;

            color: $secundary-color;

            &:hover {
                color: $third-color;
            }
          }

          &-text {
            display: none;
          }
        }
      }

}


//   &-menu {
//     a {
//       color: $secundary-color;
//       &:hover {
//         color: $third-color;
//       }
//     }
//   }

  

// }

