@import '_constant';
@import '_functions';

.header_site {
    align-items:center;
    background-color: $light-color;
    display:flex;
    height: 10rem;
    justify-content:center;
    overflow: hidden;
    text-align: center;
    width: 100%;
    min-width: 600px;

    &--wrapper{
        display: flex;
    }

    &--title {
        padding: 0rem 0.5rem 0.5rem;
        flex-grow: 2;
        align-self: center;

        &-link {
            font-size: 1.5em;
        }
    }

    &-social {
        display: flex;
        flex-direction: column;
        align-self: center;

        &--item {
            display: flex;
            margin-bottom: .5rem;

            &-link {
                background-position: 0 0;
                background-repeat: no-repeat;
                background-size: contain;
                clear: both;
                color: $secundary-color;
                display: block;
                height: 2em;
                margin: auto 10px;
                width: 2em;

                &:hover {
                    color: $third-color;
                }
            }

            &-text {
                display: none;
                margin-top: .5rem;
                margin-left: -7rem;
            }

            @include max-large(){
                &:hover &-text{
                    display: block;
                }
            }
        }
      }
}
