@import '_colors';

.home_content{
    display: flex;
    flex-flow: wrap;
    height: 100%;
    justify-content: space-around;
    margin: 0 auto;
    width: 70rem;
    
    &-article {
        align-items: stretch;
        border: 1px dashed black;
        display: flex;
        flex-direction: column;
        height: 20rem;
        justify-content: space-between;
        margin-top: 3rem;
        width: 30rem;

        &--header {
            height: 2em;
        }
        &--body{
            padding: 1.2rem;
            flex-basis: 15em;
        }
    }

}
